/*Estilos para el Demo 3D*/
*{
    margin: 0 auto;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: linear-gradient(180deg, rgba(230,253,255,1) 0%, rgba(220,234,241,1) 99%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box{
    margin-top: 25px;
    padding: 15px;
    display: flex;    
    justify-content:space-between;
    flex-direction: row;
    width: 98%;
    max-width: 1200px;
    border: 2px solid #B4E7F4;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px 1px #1d3449;
    -webkit-box-shadow: 1px 1px 4px 1px #1d3449;
    -moz-box-box-shadow: 1px 1px 4px 1px #1d3449;
}



model-viewer {
    width: 400px; /*800px*/
    height: 400px; /*600px*/
    margin: 0 auto;
    /*background-color: aqua;*/ /*Ejemplo de color*/
    }

.left{
    margin-top: 45px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    /*border: 1px solid blue;*/
}

.left p{
    font-size: 25px;
    margin-left: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.center{
    /*margin-left: 0;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid orange;*/
}

.logocontacto{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*border: 1px solid black;*/
}

.logocontacto img{
    margin-left: 45px;
    width: 50%;
    /*background-color: aqua;*/
    border-radius: 20px;
}

a:hover{
    border-radius: 20px;
    box-shadow: 1px 1px 10px 3px #D7F2F8;
    -webkit-box-shadow: 1px 1px 4px 1px #D7F2F8;
    -moz-box-box-shadow: 1px 1px 4px 1px #D7F2F8;
}



.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    /*border: 1px solid red;*/
}

.footer{
    margin-top: 10px;
    padding: 4px;
    display: flex;    
    justify-content:space-between;
    flex-direction: row;
    width: 98%;
    max-width: 1200px;
    border: 1px solid #B4E7F4;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px 1px #1d3449;
    -webkit-box-shadow: 1px 1px 4px 1px #1d3449;
    -moz-box-box-shadow: 1px 1px 4px 1px #1d3449;
}
/********************* Media Querie *********************/

@media(max-width:768px){
    
    .box{
        flex-direction: column-reverse;
    }
    
    .left{
        width: 100%;
        display: block;
    }
    
    
    .left p{
    font-size: 24px;
}

    
    /*inicia images*/
    .center{
        /*margin-left: 0;*/
        width: 100%;
        display: flex;
        justify-content:center;
        
}

    .logocontacto{
        margin-top: 25px;
        margin-bottom: 25px;
        padding-top: 15px;
        padding-bottom: 1>5px;
        /*margin-left: 0;*/
        /*display: flex;*/
        justify-content: space-between;
        width: 100%;
        
    }
    
    .logocontacto img{
        /*margin-left: 2px;*/
        width: 55%;
        background-color: aqua;
        border-radius: 20px;
    }
    /*termina images*/
    
    .right{
        justify-content: center;
        width: 100%;
        display: block;
    }
    
    model-viewer{
        width: 400px;
        height: 400px;
 
    }
}